<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="org.gafs.flutter_plugin_playlist">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <service android:name="org.gafs.flutter_plugin_playlist.service.MediaService"></service>
        <receiver android:name="org.gafs.flutter_plugin_playlist.service.InsomniacReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
